#window1{
  display: inline-block;
  display: none;
  vertical-align: top;
  margin: 50px auto;
  background: #888;
  position: fixed;
  padding: 5px;
}

.close{
  margin-left: 400px;
  cursor: pointer;
}

